*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin:0;
    font-family: sans-serif;
}

.main {
    display: grid;
    /* grid-template-columns: repeat(12,1fr); */
    grid-template: 1fr / repeat(12, 1fr);
    gap: 0.5rem;
}
.card {
    border: 1px solid lightgray;
    border-radius: 1rem;

    margin: 1rem;
    grid-column: span 3;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover {
    box-shadow: 2px 2px 5px 5px red;
}
.card__tittle {
    text-align: center;
}
.card__pic {
    aspect-ratio: 1/1;
    width: 80%;
    border-radius: 1rem;
}
.card__text {
    margin: 2rem;
}
.card__cta {
    display: inline-block;
    background-color: green;
    color:white;

    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid green;
    border-radius: 1rem;

    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 40rem) {
    .main {
        background-color: burlywood;
        
    }
    .card {
        grid-column: span 6;
    }
}
