*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: papayawhip;
    }

#root {
    display:grid;
    /* auto takes the minimum, while 1fr takes the remaining maximum */
    grid-template-areas: 
    "header header"
    "globalnav globalnav"
    "localnav main"
    "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 25% 1fr;
    height: 100%;
} 

body {
    margin:0;
    font-family: sans-serif;
}
/* organize the CSS properties:display/position/box model/colors/etc */
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: dodgerblue;

}
.header__logo{
    aspect-ratio: 1/1;
    width: 50px;
}
.header__title {
    margin: 0 auto;
    /* not central in whole page */
}
.globalnav{
    grid-area: globalnav;
    background-color: peachpuff;
}
.globalnav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style:circle;
}
.localnav {
    grid-area: localnav;
    border: 1px solid black;
}
.localnav__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
.localnav__item {
    padding: 2rem 1rem;
}
/* Main */
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: dodgerblue;
}

@media screen and (max-width: 40rem) {
    .main {
        background-color: red;
    }

    #root {
        grid-template-areas: 
        "header"
        "globalnav"
        "localnav"
        "main"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 1fr auto;
    }
    .localnav__item {
        padding: 0.5rem;
    }
}